# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.env
# Virtual Environment
langchain_env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/
.idea/

# macOS
.DS_Store

# Project specific
chroma_db/


# Logs
*.log 

manual_/
manual/
md/

faiss_ai_samaple_index/

LangChain_manual_Searching.ipynb
LangChain_manual_Searching_Copy.ipynb